<div class="container">
  <div class="text-center p-2">
    <h1 style="font-weight: bold">Book a Dragon</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control bg-white py-2 me-1",
              placeholder: 'Search for a dragon...',
              autofocus: true
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


  <div class="row justify-content-center">
    <% @dragons.each do |dragon| %>
      <%= render "card", dragon: dragon %>
    <% end %>
  </div>
</div>
