<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xxl-6 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control bg-white py-2 me-1",
              placeholder: 'Search for a dragon to book...',
              autofocus: true
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <% @dragons.each do |dragon| %>
      <%= render "card", dragon: dragon %>
    <% end %>
  </div>
</div>
