<h1>All our dragons</h1>
<% @dragons.each do |dragon| %>
<div class="dragon-card">
  <p><%= dragon.name %></p>
  <p><%= dragon.seats %> seats</p>
  <p><%= dragon.price_per_day %>€/day</p>
  <p><%= dragon.location %></p>
</div>
<% end %>
