<div class="container">
  <h1 class="py-3 px-1 mb-0" style="font-weight: bold">Your Dragons</h1>
  <div class="row justify-content-center">
    <% @dragons.each do |dragon| %>
      <%= render "card", dragon: dragon %>
    <% end %>
  </div>
  <%= link_to 'Add New Dragon', new_dragon_path, class: 'btn btn-primary w-100' %>
</div>
