<div class="container">
  <div class="text-center p-2">
    <h1 style="font-weight: bold">My Bookings</h1>
  </div>
  <div class="row justify-content-center">
    <% @bookings.each do |booking| %>
      <%= render "card", booking: booking %>
    <% end %>
  </div>
</div>
